.container-life {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 15%;

    .text-zone {
        width: 45%;
        font-family: 'Helvetica Neue', sans-serif;

        h1.heading {
            font-size: 3rem;
            padding-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
        }
    }

    .video-zone {
        width: 45%;
        video {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}

@media (max-width: 768px) {
    .container-life {
        flex-direction: column;
        padding: 5%;

        .text-zone, .video-zone {
            width: 100%;
        }

        .text-zone {
            padding-bottom: 20px;
        }
    }
}

@media (max-width: 480px) {
    .container-life {
        .text-zone {
            h1.heading {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}
