.text-zone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    overflow: auto;

    .heading2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #333;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .download-button {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .flat-button {
            color: #ffd700;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 2px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px;
            border: 1px solid #ffd700;
            margin-top: 25px;
            margin-right: 5px;
            float: left;
            animation: fadeInAnimation 1s 1.8s backwards;
            white-space: nowrap;
    
            &:hover {
                background: #ffd700;
                color: #333;
            }
        }
    }

    .display {
        border: 1px solid #ccc;
        padding: 1rem;
        max-height: 530px;
        overflow: auto;
        margin-top: 10px;
        scrollbar-width: none;
        -ms-overflow-style: none;

        p {
            text-align: center;
            margin-top: 1rem;
        }
    }
}